<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>btnStart0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>btnStart0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>btnStart0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>rule.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>rule0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,192},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>rule0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,97},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>rule0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>shaiziStart0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1939},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1939},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1938},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1938},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1826},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1826},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1939},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1939},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1939},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1939},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1938},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1938},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1826},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1826},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1939},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1939},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1904},{95,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{95,90}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1904},{95,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{95,90}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1801},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1698},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1595},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1492},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1389},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1286},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>asset.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8aac76723e329347000d50ccc5220036$</string>
            <key>textureFileName</key>
            <string>asset.png</string>
        </dict>
    </dict>
</plist>
