<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>btnStart0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,644},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>btnStart0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>btnStart0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>shaiziStart0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,756},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,756},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,865},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,865},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,785},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,785},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,902},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,902},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,644},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,644},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,644},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,644},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,756},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,756},{107,100}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{107,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,865},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,865},{105,106}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,785},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,785},{115,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,902},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,902},{111,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{111,102}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,644},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,644},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,644},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,644},{107,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{107,84}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{95,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{95,90}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStart0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{95,90}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{95,90}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,850},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,644},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,747},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,856},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,644},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>shaiziStop0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,753},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,100}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>asset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c95ba7010d9d1c3de619a32f45dc0b$</string>
            <key>textureFileName</key>
            <string>asset.png</string>
        </dict>
    </dict>
</plist>
