<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>answer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,224},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>answer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,164},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>answer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>answer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,163},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1012},{94,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{94,6}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>bloodBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>man.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,126},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{167,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,159}}</string>
                <key>sourceSize</key>
                <string>{167,159}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,964},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,964},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,964},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>asset.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3c11ece3248d14015826097e609ef49$</string>
            <key>textureFileName</key>
            <string>asset.png</string>
        </dict>
    </dict>
</plist>
